# ignore folders:
hit_road_marking_tracker/input_files/
hit_road_marking_tracker/result_files/
hit_road_marking_tracker/.conda/
hit_road_marking_tracker/.ipynb_checkpoints/
hit_road_marking_tracker/jobs/
hit_road_marking_tracker/model/

# ignore files:
hit_road_marking_tracker/*.pt
hit_road_marking_tracker/*.xlsx


